.div-center {
  margin-top: 5%;
  text-align: center;
}

form {
  line-height: 3rem;
  text-align: center;
}

.text-area {
  margin: 0 auto;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.left-btn{
  margin-left: 0 !important;
}

.cont-60 {
  text-align: left;
  width: 60%;
  margin: 0 auto;
}

.ml-0 {
  margin-left: 0 !important;
}

.copied-container {
  position: fixed;
  top: 2rem;
  left: 0;
  right: 0;
}


.copied-inner {
  display: inline-block;
  padding: 8px 16px;
  z-index: 1;
  background-color: #e8e8e8;
  color: rgb(0, 31, 63);
  box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
  -webkit-box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
  -moz-box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
}

@media only screen and (max-width: 767px) {
  .button-cont{
    display: flex;
    flex-direction: column;
  }

  .left-btn{
    margin-left: 4% !important;
  }

  button{
    margin: 10px 0;
  }
}