nav {
    transition: background-color 0.25s ease-in-out;
}

.navbar-brand{
    margin-right: 2%;
}

nav li{
    margin: 0 10%;
}

@media only screen and (max-width: 767px) {
    .navbar-collapse {
        text-align: center;
    }
}